---
import { Icon } from "astro-icon/components";
import SectionBorders from "~/components/ui/decorations/section-borders.astro";
import { getPermalink } from "../../utils/permalinks";
import { SITE } from "jpconfig:config";
---

<!-- Icon Blocks -->
<div class="px-4 py-10 mx-auto">
  <div class="grid sm:grid-cols-3 items-center gap-12">
    <!-- Icon Block -->
    <div class="text-center">
      <div class="relative flex justify-center items-center size-18 bg-gradient-to-br from-primary via-transparent to-secondary rounded-xl mx-auto p-0.5">
        <div class="flex justify-center items-center w-full h-full bg-white rounded-xl">
          <Icon class={"text-4xl text-primary"} name="lava-stones" />
        </div>
      </div>
      <div class="mt-5">
        <h3 class="text-2xl font-semibold text-text ">Masáže</h3>
        <p class="mt-1 text-gray-600">Profesionální masážní služby pro vaše zdraví a relaxaci</p>
        <a href="/masaze-kosmetika"
           class="inline-block mt-4 px-6 py-2 bg-primary text-white rounded-lg hover:bg-primary/90 transition-colors text-sm">
          Více o masážích
        </a>
      </div>
    </div>
    <!-- End Icon Block -->

    <!-- Icon Block -->
    <div class="text-center">
      <div class="relative flex justify-center items-center size-18 bg-gradient-to-br from-primary via-transparent to-secondary rounded-xl mx-auto p-0.5">
        <div class="flex justify-center items-center w-full h-full bg-white rounded-xl">
          <Icon class={"text-4xl text-primary"} name="cosmetics" />
        </div>
      </div>
      <div class="mt-5">
        <h3 class="text-2xl font-semibold text-text ">Kosmetika</h3>
        <p class="mt-1 text-muted-foreground">Kompletní kosmetické služby pro vaši krásu a pohodu</p>
        <a href={getPermalink("/masaze-kosmetika")}
           class="inline-block mt-4 px-6 py-2 bg-primary text-white rounded-lg hover:bg-primary/90 transition-colors text-sm">
          Více o kosmetice
        </a>
      </div>
    </div>
    <!-- End Icon Block -->
    <!-- Icon Block -->
    <div class="text-center">
      <div class="relative flex justify-center items-center size-18 bg-gradient-to-br from-primary via-transparent to-secondary rounded-xl mx-auto p-0.5">
        <div class="flex justify-center items-center w-full h-full bg-white rounded-xl">
          <Icon class={"text-4xl text-primary"} name="material-symbols-light:calendar-clock-outline-rounded" />
        </div>
      </div>
      <div class="mt-5">
        <h3 class="text-2xl font-semibold text-text ">Rezervace</h3>
        <p class="mt-1 text-muted-foreground">Kompletní kosmetické služby pro vaši krásu a pohodu</p>
        <a href={SITE.reservation}
           class="inline-block mt-4 px-6 py-2 bg-primary text-white rounded-lg hover:bg-primary/90 transition-colors text-sm">
          Rezervace
        </a>
      </div>
    </div>
    <!-- End Icon Block -->
  </div>
</div>
<!-- End Icon Blocks -->