---
import Layout from "../layouts/Layout.astro";
import type { MetaData } from "~/types";
import HeroSection from "~/components/sections/hero-section.astro";
import Perks from "../components/sections/perks.astro";
import FavMassages from "../components/sections/fav-massages.astro";
import Section from "../components/ui/section.astro";
import FavCosmetics from "~/components/sections/fav-cosmetics.astro";

const metadata: MetaData = {
  title: "Masáže Mariia Kopecka",
  ignoreTitleTemplate: true,
  description: "Vítejte na stránkách MK Masáže. Nabízíme profesionální masážní služby pro relaxaci a regeneraci.",
};
---

<Layout metadata={metadata}>
  <HeroSection />
  <Section id="perks" borders={{
    flip: true,
    variant: "primary",
  }}>

    <Perks />
  </Section>
  <Section id="favorite-massages" borders={{
    flip: false,
    variant: "background",
  }} title="Oblíbené masáže">

    <FavMassages />
  </Section>
  <Section id="perks" borders={{
    flip: true,
    variant: "primary",
  }} title="Oblíbená kosmetika">

    <FavCosmetics/>
  </Section>
  <Section id="perks" borders={{
    flip: false,
    variant: "background",
  }} title="Kontakt">

    <Perks />
  </Section>

</Layout>
