---
import Layout from "../layouts/Layout.astro";
import type { MetaData } from "~/types";
import HeroSection from "~/components/sections/hero-section.astro";
import Perks from "../components/sections/perks.astro";
import FavMassages from "../components/sections/fav-massages.astro";
import Section from "../components/ui/section.astro";
import FavCosmetics from "~/components/sections/fav-cosmetics.astro";
import Contact from "~/components/sections/contact.astro";

const metadata: MetaData = {
  title: "Masáže & Kosmetika | Mariia Kopecka",
  ignoreTitleTemplate: true,
  description: "Vítejte na stránkách MK Masáže. Nabízíme profesionální masážní služby pro relaxaci a regeneraci.",
};
---

<Layout metadata={metadata}>
  <HeroSection />
  <Section id="perks" borders={{
    flip: true,
    variant: "primary",
  }} description="Objevte výhody našich profesionálních služeb. Kvalita, individuální přístup a moderní techniky pro vaše zdraví a pohodu.">
    <Perks />
  </Section>

  <Section id="favorite-massages" borders={{
    flip: false,
    variant: "background",
  }} title="Oblíbené masáže" description="Vyberte si z našich nejžádanějších masážních procedur. Od relaxačních po léčebné masáže pro úlevu od stresu a napětí.">
    <FavMassages />
  </Section>

  <Section id="perks" borders={{
    flip: true,
    variant: "primary",
  }} title="Oblíbená kosmetika" description="Dopřejte si luxusní kosmetické ošetření. Používáme pouze kvalitní produkty pro péči o vaši pleť a celkovou krásu." disableBorders>
    <FavCosmetics/>
  </Section>

  <Section id="kontakt" borders={{
    flip: false,
    variant: "background",
  }} title="Kontakt" description="Spojte se mnou domluvte si termín. Jsem tu pro vás a ráda odpovím na všechny vaše dotazy." disableBorders>
    <Contact />
  </Section>
</Layout>
