---
import Layout from "../layouts/Layout.astro";
import type { MetaData } from "~/types";
import HeroSection from "~/components/ui/hero-section.astro";
import Perks from "../components/ui/perks.astro";

const metadata: MetaData = {
  title: "Masáže Mariia Kopecka",
  ignoreTitleTemplate: true,
  description: "Vítejte na stránkách MK Masáže. Nabízíme profesionální masážní služby pro relaxaci a regeneraci.",
};
---

<Layout metadata={metadata}>
  <div slot="hero">

    <HeroSection />
    <Perks />
    <div class="bg-primary/30 h-40"></div>
  </div>
</Layout>
