---
import Layout from "../layouts/Layout.astro";
import type { MetaData } from "~/types";
import HeroSection from "~/components/ui/hero-section.astro";

const metadata: MetaData = {
  title: "Masáže Mariia Kopecka",
  ignoreTitleTemplate: true,
  description: "Vítejte na stránkách MK Masáže. Nabízíme profesionální masážní služby pro relaxaci a regeneraci.",
};
---

<Layout metadata={metadata}>
  <div slot="hero">

  <HeroSection />
  </div>
</Layout>
