<div class="relative w-full h-64">
  <iframe
    width="100%"
    height="100%"
    frameborder="0"
    style="border:0"
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCOaz21obH7H90b8kBvhJgrEkI5bPVes90&q=Perná 285, Perná 691 86"
    allowfullscreen
  >
  </iframe>

</div>