---
import "../styles/global.css";
import CommonMeta from "~/components/common/CommonMeta.astro";
import Metadata from "~/components/common/Metadata.astro";
import type { MetaData } from "~/types";

export interface Props {
  metadata?: MetaData;
}

const { metadata = {} } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<CommonMeta />
		<Metadata {...metadata} />
	</head>
	<body class="antialiased text-default bg-page tracking-tight">
		<slot />
	</body>
</html>
