---
// Footer component with copyright and portfolio link
---

<footer class="bg-background text-text border-t border-primary/40 py-4">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="mb-4 md:mb-0">
        <p>&copy; {new Date().getFullYear()} MK Masáže. Všechna práva vyhrazena.</p>
      </div>
      <div>
        <p>Vytvořil <a href="https://jiripatejdl.cz" target="_blank" rel="noopener noreferrer" class="underline hover:text-gray-300 transition-colors">Jiří Patejdl</a></p>
      </div>
    </div>
  </div>
</footer>