---
import { Icon } from "astro-icon/components";
import SectionBorders from "~/components/ui/decorations/section-borders.astro";
---

<!-- Icon Blocks -->
<div class="px-4 pt-2 pb-10 mx-auto">
  <div class="grid sm:grid-cols-2 items-center gap-12">
    <!-- Icon Block -->
    <div class="text-center">
      <div
        class="relative flex justify-center items-center size-12 bg-white rounded-xl before:absolute before:-inset-px before:-z-1 before:bg-linear-to-br before:from-blue-600 before:via-transparent before:to-violet-600 before:rounded-xl mx-auto">
        <svg class="shrink-0 size-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
             stroke-linejoin="round">
          <rect width="10" height="14" x="3" y="8" rx="2" />
          <path d="M5 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2h-2.4" />
          <path d="M8 18h.01" />
        </svg>
      </div>
      <div class="mt-5">
        <h3 class="text-2xl font-semibold text-gray-800">Masáže</h3>
        <p class="mt-1 text-gray-600">Profesionální masážní služby pro vaše zdraví a relaxaci</p>
      </div>
    </div>
    <!-- End Icon Block -->

    <!-- Icon Block -->
    <div class="text-center">
      <div
        class="relative flex justify-center items-center size-12 bg-white rounded-xl before:absolute before:-inset-px before:-z-1 before:bg-linear-to-br before:from-blue-600 before:via-transparent before:to-violet-600 before:rounded-xl mx-auto">
        <Icon name="material-symbols-light:6k" />
      </div>
      <div class="mt-5">
        <h3 class="text-2xl font-semibold text-gray-800">Kosmetika</h3>
        <p class="mt-1 text-gray-600">Kompletní kosmetické služby pro vaši krásu a pohodu</p>
      </div>
    </div>
    <!-- End Icon Block -->
  </div>
</div>
  <SectionBorders flip variant="primary" />
<!-- End Icon Blocks -->